Node-Red/flows.json
[{"id":"03aee205be79055f","type":"inject","z":"1bb6af2c.cf23a1","name":"Reset Timer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 04 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":2480,"wires":[["1d40a4ce18f235e9"]]},{"id":"1d40a4ce18f235e9","type":"api-call-service","z":"1bb6af2c.cf23a1","name":"Turn Off","server":"41b1ff17.5e65c","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.pillcaddystatus"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":320,"y":2480,"wires":[[]]},{"id":"12b2d3529ad803b3","type":"api-call-service","z":"1bb6af2c.cf23a1","name":"Notify iPhone","server":"41b1ff17.5e65c","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_iphonert11pm","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Take Daily Pills\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":2540,"wires":[[]]},{"id":"1914de232bd0b5ef","type":"api-current-state","z":"1bb6af2c.cf23a1","name":"","server":"41b1ff17.5e65c","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.pillcaddystatus","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":430,"y":2540,"wires":[["12b2d3529ad803b3"],[]]},{"id":"a433a9195c5f3950","type":"inject","z":"1bb6af2c.cf23a1","name":"Notify Time","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 09 * * 1,2,3,4,5,0","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":2540,"wires":[["1914de232bd0b5ef"]]},{"id":"7bfde22d7755fcac","type":"ha-tag","z":"1bb6af2c.cf23a1","name":"Pill Caddy","server":"41b1ff17.5e65c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"tags":["04-6C-58-3A-F2-6C-81"],"devices":[],"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":2420,"wires":[["b309120775bf6402"]]},{"id":"b309120775bf6402","type":"api-call-service","z":"1bb6af2c.cf23a1","name":"Turn On","server":"41b1ff17.5e65c","version":5,"debugenabled":false,"domain":"input_boolean","service":"toggle","areaId":[],"deviceId":[],"entityId":["input_boolean.pillcaddystatus"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":320,"y":2420,"wires":[[]]},{"id":"41b1ff17.5e65c","type":"server","name":"Home Assistant Main","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]